/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */


article h2 { font-family: 'Lobster Two'; font-size: 30px; margin: 25px 0; line-height: 1em; }

.story { height: 760px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

#first {
	background-attachment: fixed;
	background-image: url(../images/garden_pond_3.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	}
#second { 
	background-image: url(../images/under1_rock_3.jpg);
	background-position: 50% 0; 
	background-repeat: no-repeat;
	background-attachment: fixed; 
	}
#third { 
	background-image: url(../images/under2_rock_3.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	}
#fourth { background: url(../images/under3_brick_3.jpg) 50% 0 no-repeat fixed; }


/* Introduction */
#first article { width: 100%; top: 0px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

#first .gardenTree { background: url(../images/garden_tree_2.png) 50% 0px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; }

#first .gardenFlowers { background: url(../images/garden_flowers_1.png) 50% 500px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; }

/* Second */
#second article { background: url(../images/under1_frame_2.png) no-repeat; color: #000; width: 360px; height: 319px; margin-left: 100px; padding: 50px 60px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; position: absolute; top: 0; }

#second .armChair { background: url(../images/under1_chair_1.png) 10% 600px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; }

#second .umbrellaGirl { background: url(../images/under2_umbrellagirl_1.png) 50% 600px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; }

/* Third */
#third article {  background: url(../images/under2_frame_2.png) no-repeat; color: #000; width: 363px; height: 290px; padding: 50px 0px 0px 80px; margin: 0; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #000; position: absolute; top: 0; }

#third .photograph { background: url(../images/under2_umbrellagirl_1.png) transparent 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; }
#third article p { width: 300px; margin-bottom: 25px; }

/* Fourth */
#fourth article {  background: url(../images/under3_frame_2.png) no-repeat; color: #000; width: 388px; height: 319px; margin-left: 10%; padding: 60px 0px 0px 100px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #000; position: absolute; top: 0; }

#fourth .clocks { background: url(../images/under3_clocks_1.png) 50% 600px no-repeat fixed; min-height: 760px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; }

#fourth .girl { background: url(../images/under3_girl_1.png) 10% 600px no-repeat fixed; min-height: 760px; padding: 0; margin: 0; width: 100%; max-width: 1024px; position: relative; margin: 0 auto; }


#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 30%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}